@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: rgb(247, 250, 253);
  --foreground: rgb(24, 40, 65);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(24, 40, 65);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(24, 40, 65);
  --primary: rgb(28, 113, 193);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(246, 245, 244);
  --secondary-foreground: rgb(50, 64, 86);
  --muted: rgb(242, 244, 247);
  --muted-foreground: rgb(103, 113, 132);
  --accent: rgb(224, 231, 255);
  --accent-foreground: rgb(50, 64, 86);
  --destructive: rgb(255, 52, 52);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(207, 213, 221);
  --input: rgb(207, 213, 221);
  --ring: rgb(85, 89, 255);
  --chart-1: rgb(85, 89, 255);
  --chart-2: rgb(56, 44, 255);
  --chart-3: rgb(42, 27, 231);
  --chart-4: rgb(35, 25, 186);
  --chart-5: rgb(34, 29, 146);
  --sidebar: rgb(242, 244, 247);
  --sidebar-foreground: rgb(24, 40, 65);
  --sidebar-primary: rgb(85, 89, 255);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(224, 231, 255);
  --sidebar-accent-foreground: rgb(50, 64, 86);
  --sidebar-border: rgb(207, 213, 221);
  --sidebar-ring: rgb(85, 89, 255);
  --font-sans: Inter, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 1.5px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 1.5px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 1.5px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0px 1.5px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0px 1.5px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0px 1.5px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 2px 4px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0px 1.5px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 4px 6px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0px 1.5px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 8px 10px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0px 1.5px 8px -1px hsl(0 0% 10.1961% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: rgb(10, 21, 47);
  --foreground: rgb(223, 232, 243);
  --card: rgb(24, 40, 65);
  --card-foreground: rgb(223, 232, 243);
  --popover: rgb(24, 40, 65);
  --popover-foreground: rgb(223, 232, 243);
  --primary: rgb(122, 134, 255);
  --primary-foreground: rgb(10, 21, 47);
  --secondary: rgb(40, 54, 77);
  --secondary-foreground: rgb(207, 213, 221);
  --muted: rgb(15, 31, 56);
  --muted-foreground: rgb(152, 162, 179);
  --accent: rgb(50, 64, 86);
  --accent-foreground: rgb(207, 213, 221);
  --destructive: rgb(255, 52, 52);
  --destructive-foreground: rgb(10, 21, 47);
  --border: rgb(70, 84, 104);
  --input: rgb(70, 84, 104);
  --ring: rgb(122, 134, 255);
  --chart-1: rgb(122, 134, 255);
  --chart-2: rgb(85, 89, 255);
  --chart-3: rgb(56, 44, 255);
  --chart-4: rgb(42, 27, 231);
  --chart-5: rgb(35, 25, 186);
  --sidebar: rgb(24, 40, 65);
  --sidebar-foreground: rgb(223, 232, 243);
  --sidebar-primary: rgb(122, 134, 255);
  --sidebar-primary-foreground: rgb(10, 21, 47);
  --sidebar-accent: rgb(50, 64, 86);
  --sidebar-accent-foreground: rgb(207, 213, 221);
  --sidebar-border: rgb(70, 84, 104);
  --sidebar-ring: rgb(122, 134, 255);
  --font-sans: Inter, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 1.5px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 1.5px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 1.5px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0px 1.5px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0px 1.5px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0px 1.5px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 2px 4px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0px 1.5px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 4px 6px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0px 1.5px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 8px 10px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0px 1.5px 8px -1px hsl(0 0% 10.1961% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}