{% extends 'emails/base.html' %}
{% block title %}
    {{ notification_title }}
 {%endblock %}
 {% block content %}
<div class="greeting">Bonjour {{ user_name }},</div>
<div class="content">
  <p>{{ notification_message|safe }}</p>
</div>
{% if action_url and action_text %}
<div style="text-align: center">
  <a href="{{ action_url }}" class="button"> {{ action_text }} </a>
</div>
{% endif %}
<div class="content">
  <p>
    Pour toute question, n'hésitez pas à nous contacter à
    <a href="mailto:{{ support_email }}" style="color: #1c71c1"
      >{{ support_email }}</a
    >.
  </p>
  <p style="margin-top: 30px">
    Cordialement,<br />
    <strong>L'équipe Let's Check</strong>
  </p>
</div>
{% endblock %}
